BDDSample/.idea/.idea.BDDSample/riderModule.iml
BDDSample/.idea/.idea.BDDSample/.idea/workspace.xml
BDDSample/.idea/.idea.BDDSample/.idea/projectSettingsUpdater.xml
BDDSample/.idea/.idea.BDDSample/.idea/modules.xml
BDDSample/.idea/.idea.BDDSample/.idea/indexLayout.xml
BDDSample/.idea/.idea.BDDSample/.idea/contentModel.xml
BDDSample/.vs/BDDSample/v16/.suo
BDDSample/.vs/BDDSample/DesignTimeBuild/.dtbcache
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.fsproj.FileListAbsolute.txt
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.fsproj.CoreCompileInputs.cache
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.dll
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.assets.cache
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.AssemblyInfoInputs.cache
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.AssemblyInfo.fs
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/rec-crime-pfa.csv
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/nunit.engine.dll
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/nunit.engine.api.dll
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/BDDSample.Domain.runtimeconfig.json
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.pdb
BDDSample/BDDSample.Domain/obj/Debug/netcoreapp2.2/BDDSample.Domain.fsprojAssemblyReference.cache
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/BDDSample.Domain.runtimeconfig.dev.json
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/BDDSample.Domain.pdb
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/BDDSample.Domain.dll
BDDSample/BDDSample.Domain/bin/Debug/netcoreapp2.2/BDDSample.Domain.deps.json
